.body3 {
    background-image: url("../imagenes/imagen-fondo3.jpg");
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.contcass {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "imas1 imas2 imas3"
        "imas4 imas5 imas6"
        "imas7 imas8 imas9"
        "imas10 imas11 imas12";
}

.hijob {
    @extend .hijo;
    background: $transblack;
    color: white;

    &:hover {
        background: black;
    }
}

.btn {
    background: rgb(124, 68, 21);
}

.tite {
    @extend .tit;
    background: $transblack;
    color: white;
}